@model DbFirstMVCProjem.Models.Staff
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>Edit Staff</h2>
@using (Html.BeginForm())
            {
    @Html.HiddenFor(x=>x.staffID)
                <div class="form-horizontal">
                    <div class="form-group">
                        @Html.LabelFor(x => x.staffName, "Staff Name")
                        <div class="col-md-4">
                            @Html.TextAreaFor(x => x.staffName, new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.staffName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.staffPhone, "Staff Phone")
                        <div class="col-md-4">
                            @Html.TextAreaFor(x => x.staffPhone, new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.staffPhone, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.staffAdress, "Staff Adress")
                        <div class="col-md-4">
                            @Html.TextAreaFor(x => x.staffAdress, new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.staffAdress, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.staffTitle, "Staff Title")
                        <div class="col-md-4">
                            @Html.TextAreaFor(x => x.staffTitle, new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.staffTitle, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.staffSalary, "Staff Salary")
                        <div class="col-md-4">
                            @Html.TextAreaFor(x => x.staffSalary, new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.staffSalary, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.branchID, "Branch Adress")
                        <div class="col-md-4">
                            @Html.DropDownListFor(x => x.branchID, (List<SelectListItem>)ViewBag.veri)
                            @Html.ValidationMessageFor(x => x.branchID, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <input type="submit" class="btn btn-success" value="Update" />
                @Html.ActionLink("Back To List", "Index", null, new {@class="btn btn-light"})
            }

