@model DbFirstMVCProjem.Models.Customer
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>Edit Customer</h2>
@using (Html.BeginForm())
            {
                @Html.HiddenFor(x=>x.customerID)
<div class="form-horizontal">
    <div class="form-group">
        @Html.LabelFor(x => x.customerName, "Customer Name")
        <br />
        <div class="col-md-4">
            @Html.TextAreaFor(x => x.customerName, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.customerName, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.customerPhone, "Customer Phone")
        <br />
        <div class="col-md-4">
            @Html.TextAreaFor(x => x.customerPhone, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.customerPhone, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.customerAdress, "Customer Adress")
        <br />
        <div class="col-md-4">
            @Html.TextAreaFor(x => x.customerAdress, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.customerAdress, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.customerMail, "Customer Mail")
        <br />
        <div class="col-md-4">
            @Html.TextAreaFor(x => x.customerMail, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.customerMail, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.customerBirthDate, "Customer Birthdate")
        <br />
        <div class="col-md-4">
            @Html.TextAreaFor(x => x.customerBirthDate, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.customerBirthDate, "", new { @class = "text-danger" })
        </div>
    </div>
</div>
<br />
<input type="submit" class="btn btn-success" value="Update" />
@Html.ActionLink("Back To List", "Index", null, new {@class="btn btn-light"})
            }

